
{% extends 'frontindex/index.html.twig' %}

{% block title %}Hello evenementController!{% endblock %}
{% block r1 %}
    <div class="hero-wrap hero-wrap-2" style="background-image: url(&quot;images/bg_1.jpg&quot;); background-position: 50% 0%;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-start">
                <div class="col-md-12 ftco-animate text-center mb-5 fadeInUp ftco-animated">
                    <p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a><a href="index.html">events <i class="ion-ios-arrow-forward"></i></a><a href="index.html">reservation</a></span></p>
                    <h1 class="mb-3 bread">evenements</h1>
                </div>







            </div>
        </div>
    </div>
{% endblock %}
{% block body %}


<section class="ftco-section bg-light">
                    <div class="container">

                        <div class="row">

                            <div class="col-md-12 ftco-animate">
                                <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                    <div class="one-third mb-4 mb-md-0">
                                        <div>
                                           {{form_start(form)}}
                                            <table>
                                            <tr>
                                            <td> {{form_label(form.nbplace,"nombre de place")}} </td>
                                            <td> {{form_widget(form.nbplace)}} </td>
                                            <td> {{form_errors(form.nbplace)}} </td>
                                            </tr>

                                            </table>
                                            {{form_end(form)}}
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                    <div class="one-third mb-4 mb-md-0">
                                        <div>
                                        {% if qrCode %}
                                            <img src="{{ qrCode }}" alt="qr-code">
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end -->
                    </div>
                </section> 
{% endblock %}
