{% extends 'frontindex/index.html.twig' %}


{% block cssquestion %}

{% endblock %}


{% block r1 %}
    <div class="hero-wrap hero-wrap-2" style="background-image: url(&quot;images/bg_1.jpg&quot;); background-position: 50% 0%;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-start">
                <div class="col-md-12 ftco-animate text-center mb-5 fadeInUp ftco-animated">
                    <p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About</span></p>
                    <h1 class="mb-3 bread">Browse Jobs</h1>
                </div>







            </div>
        </div>
    </div>
{% endblock %}









{% block body %}
<button>
    <a href="{{ path('add_question') }}" class="btn btn-primary py-2">ajouter</a>
</button>
<section class="ftco-section bg-light">

	<div class="container">
    

    
		<div class="row" style="display:block">
			<div class="col-lg-9 pr-lg-4" style="max-width:100%">
				<div class="row">
                    
						<div class="col-md-12 ftco-animate fadeInUp ftco-animated" style="width:10000px">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center" >
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">Partime</span>
                                        <h2 class="mr-3 text-black"><a href="#">{{allquestions[1].contenu }}</a></h2>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3"><span class="icon-layers"></span> <a href="#">Facebook, Inc.</a></div>
                                        <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                                    </div>
                                </div>
                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    
                                    </div>
                            </div>
							
                            <div class="questions" style="display: table" >
							    <div class="in-question-container">
                                
                                    <div style="padding: 40px">
							            {{ form_start(form) }}


                                        <div>
                                            {{ form_label(form.contenu, 'Le question ?', {
                                            'label_attr' : {'class': 'form-style-label'},
                                            }) }}
                                        </div>
                                        
                                        {{ form_widget(form.contenu , {'attr' : {'placeholder': "Poser votre question ici"}}) }}
                                        {{ form_help(form.contenu) }}
                                        
                                        

                                        

                                            <button type = "submit">submit</button>
                                            {{ form_end(form) }}
                                
							        </div>
                                

                                </div>

                                <div class="in-library-container">
                                    <div class="library">
                                        <div class="titre_library">
                                            Choisir une que question de la bibliotheque
                                        </div>
                                        <div class="library_contents">
                                            
                                                
                                                    {% for biblio in list %}
                                                        <ul style="list-style-type: none">
                                                        <li>

                                                            <a href="{{ path('delete_biblio',{'id_bib_question':biblio.id}) }}" class="icon-trash delete_icon" style="color:#A13030"><a>
                                                            <a style="text-decoration:none;color:black" href="{{ path('question_selected',{'id':biblio.id}) }}">{{biblio.contenu}}</a>
                                                            
                                                        </li>
                                                        </ul>

                                                        
                                                    {% endfor %}
                                                
                                            
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                        
                    
                </div>    
                <div class="row mt-5">
		          	<div class="col text-center">
		            	<div class="block-27">
		            		<ul>
		        				<li><a href="#">&lt;</a></li>
		            			<li class="active"><span>1</span></li>
	                			<li><a href="#">2</a></li>
	                			<li><a href="#">3</a></li>
		        				<li><a href="#">4</a></li>
		        				<li><a href="#">5</a></li>
                				<li><a href="#">&gt;</a></li>
             				</ul>
            			</div>
          			</div>
        		</div>
	   		</div>
		</div>
	</div>
</section>
        {% endblock %}



