{% extends 'frontindex/index.html.twig' %}


{% block cssquestion %}

{% endblock %}


{% block r1 %}
    <div class="hero-wrap hero-wrap-2" style="background-image: url(&quot;images/bg_1.jpg&quot;); background-position: 50% 0%;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-start">
                <div class="col-md-12 ftco-animate text-center mb-5 fadeInUp ftco-animated">
                    <p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About</span></p>
                    <h1 class="mb-3 bread">Browse Jobs</h1>
                </div>







            </div>
        </div>
    </div>
{% endblock %}









{% block body %}
{% set favori_check = 1 %}
{% set favori_uncheck = 0 %}

<section class="ftco-section bg-light">

	<div class="container">
    
    

    
		<div class="row" style="display:block">
			<div class="col-lg-9 pr-lg-4" style="max-width:100%">
				<div class="row">

                {% for message in app.flashes('info') %}
                <div class ="alert alert btn-warning">
                    {{ message }}
                </div>
    {% endfor %}
                    
						<div class="col-md-12 ftco-animate fadeInUp ftco-animated" style="width:10000px">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center" >
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                       
                                        <h2 class="mr-3 text-black"><a href="#">Titre: {{test.titre }}</a></h2>
                                <h2 class="mr-3 text-black"><a href="#">Sujet: {{test.sujet.sujet }}</a></h2>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                       <div class="mr-3"><span class="icon-layers"></span> <a href="#">Date de debut : {{test.datedebut|date('d/m/Y')}}</a></div>
                                <div class="mr-3"><span class="icon-layers"></span>date fin : {{test.datefin|date('d/m/Y')}}</span></div>
                                    </div>
                                </div>
                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    
                                    </div>
                            </div>
							
                            <div class="questions" style="display: table" >
							    <div class="in-question-container">
                                
                                    <div style="padding: 40px">
							            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}


                                        <div>
                                            {{ form_label(form.contenu, 'Le question ?', {
                                            'label_attr' : {'class': 'form-style-label'},
                                            }) }}
                                        </div>
                                        
                                        {{ form_widget(form.contenu , {'attr' : {'placeholder': "Poser votre question ici"}}) }}
                                        {{ form_help(form.contenu) }}
                                        {{ form_errors(form.contenu)}}
                                        
                                            
                                            {{number}}

                                        
                                            {% if number <= 4 %}
                                            <button type="submit" class="btn btn-info"> Next    >> </button>
                                            {% else %}
                                            <button type="submit" class="btn btn-info" style="margin-top : 20px" disabled>Next    >> (you have reached 10 questions)</button>
                                            {% endif %}
                                            {{ form_end(form) }}
                                
							        </div>
                                

                                </div>

                                <div class="in-library-container">
                                    <div class="library">
                                        <div class="titre_library">
                                            <a href="{{ path('all_question',{'favoris':favori_uncheck,'id':test.id}) }}" style="color:#97AFBE;">Choisir une que question de la bibliotheque ({{ list.getTotalItemCount }})</a>
                                            <a href="{{ path('all_question',{'favoris':favori_check,'id':test.id}) }}"><button type="submit" class="btn btn-info" style="padding:5px;margin-right: 13px;font-size:15px;float:right;font-family:serif"> Les questions en favoris <div class="icon-star" style="color:rgb(226, 230, 30);width: 10px;margin: 4px; float:right"></div>  </button></a>
                                        </div>
                                        <div class="library_contents">
                                            
                                                    {% if favoris == 1 %}
                                                        {#{% for biblio_question in list if biblio_question.favori is true %}#}
                                                        {% for biblio_question in list|filter(biblio_question => biblio_question.favori == true) %}
                                                            
                                                            <ul style="list-style-type: none">
                                                            <li>

                                                                <a href="{{ path('delete_biblio',{'id_bib_delete_question':biblio_question.id,'test_id':test.id}) }}" class="icon-trash " style="color:#A13030"><a>
                                                                {% if biblio_question.favori == 1 %}
                                                                <a href="{{ path('unfavor',{'question_favor_id':biblio_question.id,'test_id':test.id}) }}" class="icon-star delete_icon" style="color:rgb(226, 230, 30)"><a>
                                                                {% else %}
                                                                <a href="{{ path('favor',{'question_favor_id':biblio_question.id,'test_id':test.id}) }}" class="icon-star-o delete_icon" style="color:rgb(226, 230, 30)"><a>
                                                                {% endif %}
                                                                <a style="text-decoration:none;color:black" href="{{ path('question_selected',{'selected_id':biblio_question.id,'id':test.id}) }}">{{biblio_question.contenu}}</a>
                                                            
                                                                
                                                            </li>
                                                            </ul>

                                                            
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for biblio_question in list %}
                                                            <ul style="list-style-type: none">
                                                            <li>

                                                                <a href="{{ path('delete_biblio',{'id_bib_delete_question':biblio_question.id,'test_id':test.id}) }}" class="icon-trash " style="color:#A13030"><a>
                                                                {% if biblio_question.favori == 1 %}
                                                                <a href="{{ path('unfavor',{'question_favor_id':biblio_question.id,'test_id':test.id}) }}" class="icon-star delete_icon" style="color:rgb(226, 230, 30)"><a>
                                                                {% else %}
                                                                <a href="{{ path('favor',{'question_favor_id':biblio_question.id,'test_id':test.id}) }}" class="icon-star-o delete_icon" style="color:rgb(226, 230, 30)"><a>
                                                                {% endif %}
                                                                
                                                                <a style="text-decoration:none;color:black" href="{{ path('question_selected',{'selected_id':biblio_question.id,'id':test.id}) }}">{{biblio_question.contenu}}</a>
                                                                
                                                                
                                                            </li>
                                                            </ul>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <div style="width:100px;margin:100px auto 20px auto;color:black">{{ knp_pagination_render(list, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}</div>
                                                
                                                {% set note = 26598432 %}
                                                {% set note = note + 1 %}
                                                
                                            
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                        
                    
                </div>    
                
	   		</div>
		</div>
	</div>
</section>
        {% endblock %}



