{% extends 'frontindex/index.html.twig' %}

{% block title %}Hello offreController!{% endblock %}
   {% block r2 %}
       <div class="overlay"></div>

       <div class="container">
           <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">

               <div class="col-md-10 d-flex align-items-center ftco-animate">

               </div>
           </div>
       </div>

   {% endblock %}
{% block body %}
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 pr-lg-5">
                    <div class="row justify-content-center pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <span class="subheading">Recently Added Jobs</span>
                            <h2 class="mb-4">Featured Jobs Posts For This Week</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ftco-animate">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">Partime</span>
                                        <h2 class="mr-3 text-black"><a href=path{{'#'}}>Frontend Development</a></h2>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3"><span class="icon-layers"></span> <a href=path{{'#'}}>Facebook, Inc.</a></div>
                                        <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                                    </div>
                                </div>

                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    <div>
                                        <a href=path{{'#'}} class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>
                                    <a href=path{{ 'job-single' }} class="btn btn-primary py-2">Apply Job</a>
                                </div>
                            </div>
                        </div><!-- end -->

                        <div class="col-md-12 ftco-animate">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">Fulltime</span>
                                        <h2 class="mr-3 text-black"><a href=path{{'#'}}>Full Stack Developer</a></h2>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3"><span class="icon-layers"></span> <a href=path{{'#'}}>Google, Inc.</a></div>
                                        <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                                    </div>
                                </div>

                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    <div>
                                        <a href=path{{'#'}} class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>
                                    <a href=path{{ 'job-single' }} class="btn btn-primary py-2">Apply Job</a>
                                </div>
                            </div>
                        </div><!-- end -->

                        <div class="col-md-12 ftco-animate">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">Freelance</span>
                                        <h2 class="mr-3 text-black"><a href=path{{'#'}}>Open Source Interactive Developer</a></h2>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3"><span class="icon-layers"></span> <a href=path{{'#'}}>New York Times</a></div>
                                        <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                                    </div>
                                </div>

                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    <div>
                                        <a href=path{{'#'}} class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>
                                    <a href=path{{'job-single'}} class="btn btn-primary py-2">Apply Job</a>
                                </div>
                            </div>
                        </div><!-- end -->

                        <div class="col-md-12 ftco-animate">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">Partime</span>
                                        <h2 class="mr-3 text-black"><a href=path{{'#'}}>Frontend Development</a></h2>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3"><span class="icon-layers"></span> <a href=path{{'#'}}>Facebook, Inc.</a></div>
                                        <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                                    </div>
                                </div>

                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    <div>
                                        <a href=path{{'#'}} class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>
                                    <a href=path{{ 'job-single' }} class="btn btn-primary py-2">Apply Job</a>
                                </div>
                            </div>
                        </div><!-- end -->

                        <div class="col-md-12 ftco-animate">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">Temporary</span>
                                        <h2 class="mr-3 text-black"><a href=path{{'#'}}>Open Source Interactive Developer</a></h2>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3"><span class="icon-layers"></span> <a href=path{{'#'}}>New York Times</a></div>
                                        <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                                    </div>
                                </div>

                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    <div>
                                        <a href=path{{'#'}} class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>
                                    <a href=path{{ 'job-single' }} class="btn btn-primary py-2">Apply Job</a>
                                </div>
                            </div>
                        </div><!-- end -->

                        <div class="col-md-12 ftco-animate">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">Fulltime</span>
                                        <h2 class="mr-3 text-black"><a href=path{{'#'}}>Full Stack Developer</a></h2>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3"><span class="icon-layers"></span> <a href=path{{'#'}}>Google, Inc.</a></div>
                                        <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                                    </div>
                                </div>

                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    <div>
                                        <a href=path{{'#'}} class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>
                                    <a href=path{{ 'job-single' }} class="btn btn-primary py-2">Apply Job</a>
                                </div>
                            </div>
                        </div><!-- end -->

                        <div class="col-md-12 ftco-animate">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">Freelance</span>
                                        <h2 class="mr-3 text-black"><a href=path{{'#'}}>Open Source Interactive Developer</a></h2>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3"><span class="icon-layers"></span> <a href=path{{'#'}}>New York Times</a></div>
                                        <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                                    </div>
                                </div>

                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    <div>
                                        <a href=path{{'#'}} class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>
                                    <a href=path{{ 'job-single' }} class="btn btn-primary py-2">Apply Job</a>
                                </div>
                            </div>
                        </div><!-- end -->

                        <div class="col-md-12 ftco-animate">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">Internship</span>
                                        <h2 class="mr-3 text-black"><a href=path{{'#'}}>Frontend Development</a></h2>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3"><span class="icon-layers"></span> <a href=path{{'#'}}>Facebook, Inc.</a></div>
                                        <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                                    </div>
                                </div>

                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    <div>
                                        <a href=path{{'#'}} class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>
                                    <a href=path{{ 'job-single' }} class="btn btn-primary py-2">Apply Job</a>
                                </div>
                            </div>
                        </div><!-- end -->

                        <div class="col-md-12 ftco-animate">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">Temporary</span>
                                        <h2 class="mr-3 text-black"><a href=path{{'#'}}>Open Source Interactive Developer</a></h2>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3"><span class="icon-layers"></span> <a href=path{{'#'}}>New York Times</a></div>
                                        <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                                    </div>
                                </div>

                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    <div>
                                        <a href=path{{'#'}} class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>
                                    <a href=path{{ 'job-single' }} class="btn btn-primary py-2">Apply Job</a>
                                </div>
                            </div>
                        </div><!-- end -->
                    </div>
                </div>
                <div class="col-lg-3 sidebar">
                    <div class="row justify-content-center pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <h2 class="mb-4">Top Recruitments</h2>
                        </div>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <div class="">
                            <a href=path{{'#'}} class="company-wrap"><img src={{ asset('front/images/company-1.jpg') }} class="img-fluid" alt="Colorlib Free Template"></a>
                            <div class="text p-3">
                                <h3><a href=path{{'#'}}>Company Company</a></h3>
                                <p><span class="number">500</span> <span>Open position</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <div class="">
                            <a href=path{{'#'}} class="company-wrap"><img src={{ asset('front/images/company-2.jpg') }} class="img-fluid" alt="Colorlib Free Template"></a>
                            <div class="text p-3">
                                <h3><a href=path{{'#'}}>Facebook Company</a></h3>
                                <p><span class="number">700</span> <span>Open position</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <div class="">
                            <a href=path{{'#'}} class="company-wrap"><img src={{ asset('front/images/company-3.jpg') }} class="img-fluid" alt="Colorlib Free Template"></a>
                            <div class="text p-3">
                                <h3><a href=path{{'#'}}>IT Programming INC</a></h3>
                                <p><span class="number">700</span> <span>Open position</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <div class="">
                            <a href=path{{'#'}} class="company-wrap"><img src={{ asset('front/images/company-4.jpg') }} class="img-fluid" alt="Colorlib Free Template"></a>
                            <div class="text p-3">
                                <h3><a href=path{{'#'}}>IT Programming INC</a></h3>
                                <p><span class="number">700</span> <span>Open position</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}