{% extends 'backindex/index.html.twig' %}
{%  block body %}
    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Clients
            </p>
            <a href=path{{'#'}} class="card-header-icon">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                     <th>titre</th>
                    <th>date evenement</th>
                    <th>description</th>
                    <th>image</th>
                    <th>localisation</th>
                    <th>nombre de participants</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr {% for e in evenement %}>
                    <td class="image-cell">
                        <div class="image">
                            <img src="https://avatars.dicebear.com/v2/initials/rebecca-bauch.svg" class="rounded-full">
                        </div>
                    </td>
                    <td data-label="ID">{{ e.id }}</td>
                    <td data-label="titre">{{ e.titre }}</td>
                    <td data-label="date evenement">{{ e.dat|date('d/m/Y') }}</td>
                    <td data-label="description" > {{ e.description }}</td>
                    <td data-label="image"> <img src="{{asset('uploads/images/'~ e.image)}}" style="width: 100px"></td>
                    <td data-label="localisation" > {{ e.localisation }} </td>
                    <td data-label="nombre de participants" > {{ e.nb_participants }} </td>
                    <td class="actions-cell">
                        <div class="buttons right nowrap">
                            
                            <a href="{{ path('d',{'id':e.id}) }}" class="button small red --jb-modal" data-target="sample-modal" type="button"> <span class="icon"><i class="mdi mdi-trash-can"></i></span></a>
                               
                           
                        </div>
                    </td>
                </tr {% endfor %}>
                </tbody>
            </table>
            <div class="table-pagination">
                <div class="flex items-center justify-between">
                    <div class="buttons">
                        <button type="button" class="button active">1</button>
                        <button type="button" class="button">2</button>
                        <button type="button" class="button">3</button>
                    </div>
                    <small>Page 1 of 3</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}