{% extends 'backindex/index.html.twig' %}
{%  block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Datatable - Search By Column</title>
        <link rel="stylesheet" href="{{asset('back/css/datatable.css')}}">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    </head>
    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Clients
            <p>
            <div class="row">



                <label for="search-by-column"></label>

                </p>
            </div>

            </p>
            <a href=path{{'#'}} class="card-header-icon">

            </a>
        </header>
        <body>
        <div class="container">

            <div class="row justify-content-md-center">
                <div class="col-8">

                    <div class="row">

                    <a href="{{ path('triid') }}" class="btn btn-primary py-2">trier</a>




                        <label for="search-by-column"></label>
                    </div>

                </div>
            </div>

            <div class="card-content">
                <table id="example" class="mdi mdi-reload" style="width:100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>titre</th>
                        <th>secteur</th>
                        <th>description</th>
                        <th>salaire</th>
                        <th>date_publication</th>
                        <th>action</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for Offre in Offre %}
                    <tr>
                        <td>{{ Offre.id }}</td>
                        <td>{{ Offre.titre }}</td>
                        <td>{{ Offre.secteur }}</td>
                        <td>{{ Offre.description }}</td>
                        <td>{{ Offre.salaire }}</td>
                        <td>{{ Offre.datee_publication }}</td>

                        <td class="actions-cell">
                            <div class="buttons right nowrap">
                                      <span>
                            <a href="{{ path('supprimer_offre_back',{'id':Offre.id}) }}" class="btn btn-primary py-2">supprimer</a>
                        </span>


                            </div>
                        </td>
                    </tr>

                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script>
            $(document).ready(function() {
                function searchByColumn(table) {
                    var defaultSearch = 1 //Name
                    $(document).on('change', '#select-column', function() {
                        defaultSearch = this.value;
                    });
                    $(document).on('change', '#search-by-column', function() {
                        table.search('').columns().search('').draw();
                        table.column(defaultSearch).search(this.value).draw();
                    });
                }
                var table = $('#example').DataTable();
                searchByColumn(table);
            } );
        </script>
        </body>
    </div>
    </html>

{% endblock %}