{% extends 'backindex/index.html.twig' %}

{% block pagetitle %}
    Questions
{% endblock %}


{%  block body %}

    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Clients
            </p>

            <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>

            <form class="search-model-form" action="{{ path('serie-search') }}">
                <input
                        type="search"
                        name="query"
                        class="form-control"
                        placeholder="Search..."
                        aria-label="Search"
                >

            </form>
        </div>
    </div>
            
        </header>
        <div class="card-content">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Contenu</th>
                    <th>test associer</th>
                    
                    
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for question in allquestions %}
                <tr>
                    <td data-label="Id">{{question.id }}</td>
                    <td data-label="Contenu">{{question.contenu }}</td>
                    <td data-label="Contenu">{{question.test.titre }}</td>
                    
                    
                    <td class="actions-cell">
                        <div class="buttons right nowrap">
                            <button class="button small green --jb-modal"  data-target="sample-modal-2" type="button">
                                <span class="icon"><a href="{{ path('back_edit_question',{'id':question.id}) }}"><i class="mdi mdi-plus-box"></i></a></span>
                            </button>
                            <button class="button small red --jb-modal" data-target="sample-modal" type="button">
                                <span class="icon"><a href="{{ path('back_delete_question',{'id':question.id}) }}"><i class="mdi mdi-trash-can"></i></a></span>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                
                </tbody>
            </table>
            <div class="table-pagination">
                <div class="flex items-center justify-between">
                    <div class="buttons">
                        <button type="button" class="button active">1</button>
                        <button type="button" class="button">2</button>
                        <button type="button" class="button">3</button>
                    </div>
                    <small>Page 1 of 3</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}