{% extends 'backindex/index.html.twig' %}
{%  block body %}
     <table class="table table-striped   ">
        <tbody>
    <h1>TEST</h1>
        <tr>
            <th>id</th>
            <th>titre</th>
            <th>date debut</th>
            <th>date fin</th>
            <th>Sujet</th>



        </tr>
        {% for test in alltests %}
            <tr>
                <td>{{test.id}}</td>
                <td>{{test.titre }}</td>
                <td>{{test.datedebut|date('d/m/Y')}}</td>
                <td>{{test.datefin|date('d/m/Y')}}</td>
                <td>{{test.sujet.sujet }}</td>








            </tr>
        {% endfor %}
        </tbody>
     </table>
{% endblock %}
