{% extends 'backindex/index.html.twig' %}
{%  block body %}


        <tbody>

    <h1>TEST</h1>

    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>

            <form class="search-model-form" action="{{ path('serie-search') }}">
                <input
                        type="search"
                        name="query"
                        class="form-control"
                        placeholder="Search..."
                        aria-label="Search"
                >

            </form>
        </div>
    </div>



        <tr>
            <th>id</th>
            <th>titre</th>
            <th>date debut</th>
            <th>date fin</th>
            <th>Sujet</th>



        </tr>
        {% for test in alltests %}
            <tr>
                <td>{{test.id}}</td>
                <td>{{test.titre }}</td>
                <td>{{test.datedebut|date('d/m/Y')}}</td>
                <td>{{test.datefin|date('d/m/Y')}}</td>
                <td>{{test.sujet.sujet }}</td>








            </tr>
        {% endfor %}

        </tbody>
            <tbody id="search">
            </tbody>
     </table>



{% endblock %}
